body {
    margin: 0;
}

@media (min-width: 768px) {
	.container {
		position: relative;
		margin: 0 auto;
		max-width: 600px;
	}
}

.container {
	position: relative;
	width: 100%;
}

.main {
	border: 5px solid #0FF;
}
.main::after, .line::after {
	display: block;
	content: '';
	clear: both;
}
.game-body, .extra-blocks, .cell{
	display: inline-block;
	float: left;
}

.game-body {
	width: 80%;
}
.extra-blocks {
	width: 20%;
}
.tetris {
    height: 640px;
    border: 4px solid #F0F;
}

.line {
	height: 6.25%;
}
.tetris .cell {
	height: calc(100% - 2px);
    width: calc(10% - 2px);
    border: 1px solid #00000055;
}

.extra-inner {
	height: 640px;
	border: 4px solid #FF0;
}

.dot.cell {
	width: 4%;
	height: 4px;
}

.next-first, .hold-block {
	height: 64px;
}
.next-first .line, .hold-block .line {
	width: 80%;
	height: 16px;
	margin: 0 auto;
}
.next-first .cell, .hold-block .cell {
	height: 16px;
	width: 20%;
}

.next-second, .next-third {
	height: 48px;
}
.next-second .line, .next-third .line {
	width: 60%;
	height: 12px;
	margin: 0 auto;
}
.next-second .cell, .next-third .cell {
	width: 20%;
	height: 12px;
}

.black {
	background-color: rgba(0, 0, 0, 1);
}

.mobile-keypad {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 4;
}
.mobile-keypad > * {
	position: absolute;
}
.move-left, .move-right, .rotate-left, .rotate-right {
	width: 25%;
}
.hold, .drop-soft {
	left: 30%;
	width: 40%;
}
.rotate-left, .rotate-right, .hold {
	top: 0;
	height: 30%;
}
.move-left, .move-right, .drop-soft {
	top: 40%;
	height: 30%;
}
.move-left, .rotate-left {
	left: 0;
}
.move-right, .rotate-right {
	right: 0;
}
.drop-hard {
	bottom: 0;
	height: 20%;
	width: 100%;
}
.intro {
	background-image: url("../img/keypad.png");
	background-size: contain;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
/* 사각형블록 */
.block-0 {
	background-color: rgba(255, 255, 0, 0.6);
}
/* 2블록 */
.block-1 {
	background-color: rgba(255, 0, 0, 0.6);
}
/* T블록 */
.block-2 {
	background-color: rgba(255, 0, 255, 0.6);
}
/* 1블록 */
.block-3 {
	background-color: rgba(0, 255, 255, 0.6);
}
/* ㄴ블록 */
.block-4 {
	background-color: rgba(255, 128, 0, 0.6);
}
/* 5블록 */
.block-5 {
	background-color: rgba(0, 255, 0, 0.6);
}
/* ㄱ블록 */
.block-6 {
	background-color: rgba(0, 0, 255, 0.6);
}
